extends layout

block content
    h1=title
    -
     let results = [{"Bank_Name": "Indian Bank", "Bank_Branch": "Amaravati", "Bank_Code": "086450",},{ "Bank_Name": "Us Bank", "Bank_Branch": "Maryville", "Bank_Code": "12345",}, {"Bank_Name": "Andhra Bank", "Bank_Branch": "Tadikonda", "Bank_Code": "256794",}]

    div(class= "container-fluid")
        div(class = "row")  
            each item, index in results
                div(class= "col-sm-2", onclick=`buy(${index})`) Bank_Name :  #{item.Bank_Name}
                div(class= "col-sm-2", onclick=`buy(${index})`) Bank_Branch:  #{item.Bank_Branch}
                div(class= "col-sm-2", onclick=`buy(${index})`) Bank_Code:   #{item.Bank_Code}

    script.
        function buy(itemNumber){
        alert(`You purchased item ${itemNumber+1}`)
        }